
* {
	box-sizing: border-box;
}

:root {
	font-size: 120%;
}

html {
	width: 100%;

	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	max-width: 750px;
	
	padding: 2rem;
	margin: 0;
	
	font-family: 'Computer Modern Serif';
}

/* Headings */

h1 {
	font-size: 2.25rem;
	
	margin: 2rem 0 0 0;
	padding: 0;
}

h2 {
	font-size: 1.75rem;
	
	margin: 1.5rem 0 0 0;
	padding: 0;
}

h3 {
	font-size: 1.25rem;
	
	margin: 1rem 0 0 0;
	padding: 0 0 0 0;
}

h4 {
	font-size: 1.0rem;
	
	margin: 0.5rem 0 0 0;
	padding: 0 0 0 0;
}

h1 + h2,
h2 + h3,
h3 + h4 {
	margin-top: 0.5rem;
}

h1 + p, h2 + p {
	margin-top: 0.5rem;
}

h3 + p, h4 + p {
	margin-top: 1rem;	
}

p, li {
	font-size: 1rem;
	text-align: justify;
	
	margin: 1rem 0;
	padding: 0;

	hyphens: auto;
}

/* Decreases default long-listitem paragraph margin spacing */
li p {
	margin: 0.3rem 0;
}

pre {
	max-width: 100%;
}

code {
	font-family: 'Fira Code', 'Consolas', 'Menlo', monospace;
	font-weight: normal;
	font-size: 90%;
	line-height: 1.0;
}

pre code {
	display: block;
	width: 100%;
	overflow-x: auto;
}

pre code.hljs {
	padding: 0.25rem;
	border: 1px solid #ddd;
}

pre code:not(.hljs) {
	padding: 0.5rem;
	background: #f0f0f0;
}

ol {
	list-style-type: lower-roman;
}

/* Pretty Blockquote & HR Line Separator */

hr {
	border: none;
	height: 1px;
	margin: 4rem auto;
	width: 50%;
	background: #d0d0d0;
}

blockquote {
	margin: 1rem 0 1rem;
	padding: 0.25rem 0.5rem;
	border-left: 0.25rem solid #d0d0d0;
	background: #f6f6f6;
}

blockquote p:first-child {
	margin-top: 0;
}

blockquote p:last-child {
	margin-bottom: 0;
}

/* Pretty Links */

a {
	color: royalblue;
	text-decoration: none;
	position: relative;
	padding: 0 0.2rem;
	margin: 0 -0.1rem;
	border-radius: 3px;
	
	transition: background 150ms ease-out, color 50ms linear;
}

a:hover {
	color: white;
	background: royalblue;
}

/* 
Images occupy at most half textwidth and when
	hovered with the mouse they scale up for 
	better viewing.
*/

img {
	display: block;
	margin: auto;
	max-width: 45%;
	max-height: 45%;
	border: 2px solid transparent;
	box-sizing: content-box;
	
	transition: 
	transform 150ms ease-out, 
	border-color 50ms linear;
}

img:hover {
	transform: scale(2);
	border-color: black;
}

/* Custom Scrollbar for some elements */

:not(body):not(html)::-webkit-scrollbar-track
{
	border-radius: 14px;
	background-color: #f4f4f4;
}

:not(body):not(html)::-webkit-scrollbar
{
	width: 4px;
	height: 4px;
	background-color: transparent;
}

:not(body):not(html)::-webkit-scrollbar-thumb
{
	border-radius: 14px;
	background-color: #e8e8e8;
}

/* Latex Elements Styling */

.katex {
	font-size: 100%;
}

.katex-display {
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom: 0.25rem;
}

/* For a better Mobile Device experience */

@media only screen 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	
	/*
	.katex-display {
		--extra-margin: 1.5rem;
		width: calc(100vw - 2 * (2rem - var(--extra-margin)));
		transform: translate(calc(var(--extra-margin) * -1), 0);
	}
	*/

	ul, ol {
		padding-left: 0;
	}

}

