
* {
	box-sizing: border-box;
}

:root {
	/*font-size: 120%;*/
}

html {
	width: 100vw;
	overflow-x: hidden;

/*	
	display: flex;
	align-items: center;
	flex-direction: column;
*/

	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	max-width: 750px;
	
	padding: 2rem;
	margin: 0 auto;
	
	font-family: 'Computer Modern Serif';

	/*overflow-x: hidden;*/

	font-variant-ligatures: none;
}

/* Headings */

/*
h1::before, h2::before, h3::before, h4::before {
	content: '§';
	margin: 0 0.25em;
}
*/

h1 {
	font-size: 2.25rem;
	
	margin: 4.5rem 0 0 0;
	padding: 0 0 0 0;
}

h2 {
	font-size: 2.0rem;
	
	margin: 3.5rem 0 0 0;
	padding: 0 0 0 0;
}

h3 {
	font-size: 1.5rem;
	/*font-style: italic;*/
	
	margin: 2.5rem 0 0 0;
	padding: 0 0 0 0;
}

h4 {
	font-size: 1.05rem;
	text-decoration: underline;
	
	margin: 1.5rem 0 0 0;
	padding: 0 0 0 0;
}

h1 + h2,
h2 + h3,
h3 + h4 {
	margin-top: 0.5rem;
}

h1 + p, h2 + p {
	margin-top: 0.5rem;
}

h3 + p, h4 + p {
	margin-top: 0.5rem;	
}

p, li {
	font-size: 1rem;
	text-align: justify;
	
	margin: 0.75rem 0;
	padding: 0;

	line-height: 1.5;
	hyphens: auto;
}

/* Decreases default long-listitem paragraph margin spacing */
li p {
	margin: 0.3rem 0;
}

pre {
	max-width: 100%;
}

code {
	font-family: 'Fira Code', 'Consolas', 'Menlo', monospace;
	font-weight: normal;
	font-size: 90%;
	line-height: 1.0;
}

pre code {
	display: block;
	width: 100%;
	overflow-x: auto;
}

pre code.hljs {
	padding: 0.25rem;
	border: 1px solid #ddd;
}

pre code:not(.hljs) {
	padding: 0.5rem;
	background: #f0f0f0;
}

ol {
	list-style-type: lower-roman;
}

/* Pretty Blockquote & HR Line Separator */

hr {
	border: none;
	height: 1px;
	margin: 3.5rem auto;
	width: 50%;
	background: #ccc;
}

blockquote {
	margin: 1rem 0 1rem;
	padding: 0.25rem 0.5rem;
	border-left: 0.25rem solid #ccc;
	background: #f6f6f6;
}

blockquote p:first-child {
	margin-top: 0;
}

blockquote p:last-child {
	margin-bottom: 0;
}

/* Pretty Links */

a {
	color: royalblue;
	text-decoration: none;
	padding: 0 0.2rem;
	margin: 0 -0.1rem;
	border-radius: 4px;
	
	transition: background 150ms ease-out, color 50ms linear;
}

a:hover {
	color: white;
	background: royalblue;
}

/* Custom Scrollbar for some elements */

:not(body):not(html)::-webkit-scrollbar-track
{
	border-radius: 14px;
	background-color: #f4f4f4;
}

:not(body):not(html)::-webkit-scrollbar
{
	width: 4px;
	height: 4px;
	background-color: transparent;
}

:not(body):not(html)::-webkit-scrollbar-thumb
{
	border-radius: 14px;
	background-color: #e8e8e8;
}

/* Latex Elements Styling */

.katex {
	font-size: 100%;
}

.katex-display {
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom: 0.25rem;
	margin: 1rem 0;
}

p {
	position: relative;
}

span.dotted {
	border: 1px dashed #4169e188;
	transition: border-color 50ms ease-out;
}

span.dotted:hover {
	border-color: #4169e1FF;
}

.tip {
	position: absolute;
	left: -0.5rem;
	bottom: calc(100%);
	background: #f0f0f0EE;
	border: 1px solid #ccc;
	border-radius: 4px;

	transition: opacity 75ms ease-out;

	padding: 0.25rem 0.5rem;

	opacity: 0.0;
}

span:hover + .tip {
	opacity: 1.0;
}

/* 
Images occupy at most half textwidth and when
	hovered with the mouse they scale up for 
	better viewing.
*/

img {
	display: block;
	margin: 1rem auto;

	width: 40vmin;

	border: 1.5px solid transparent;
	
	transition: transform 150ms ease-out, 
				border-color 50ms linear;
}

/* For a better Mobile & Desktop Device experience */

/* Little extra feature on the Desktop */
@media only screen 
  and (min-device-width: 768px) {
	
	:root {
		font-size: 125%;
	}

	img {
		z-index: 10;
	}

	img:hover {
		transform: scale(2.0);
		border-color: black;
	}

}

/* For landscape phones only */
@media only screen
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

	img {
		width: 66%;
	}

}

/* Full-width image on portrait mobile */
@media only screen 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {

	body {
		overflow-x: hidden;
	}

	img {
		transform: translate(calc(-2rem), 0) scale(1.015);
		width: 100vw;
		min-width: unset;
	}

	blockquote ul, blockquote ol {
		padding-left: 1.5rem;
	}

	ul, ol {
		padding-left: 0;
		margin: 1.25rem 0;
	}

}

